In [37]:
# import modules
import datetime
import numpy as np
import pandas as pd
import yfinance as yf
from random import sample

In [38]:
# read csv with symbols of stocks in the NASDAQ-100
df_symbols = pd.read_csv(r'NASDAQ_100_Symbols.csv', low_memory=False)
Symbols    = df_symbols['Symbol'].tolist()

In [39]:
# stocks listed as of May 11th, 2020.
len(Symbols)

102

In [40]:
start = datetime.datetime(2021, 1, 1)         # format: y, m, d
end   = datetime.datetime(2022, 5, 20)        # until May 20th, 2020.
d_range = pd.date_range(start, end, freq='D') # data range

In [41]:
# empty dataframe
NASDAQ_100_ = pd.DataFrame() # iteramos sobre cada ticker

# Downloads Dataset of NASDAQ 100 Stocks
for i in Symbols:  
    
    # imprime que ticker se está descargando
    print( str(Symbols.index(i)) + str(' : ') + i, sep=',', end=',', flush=True)  
    
    try:
        # download the stock price 
        stock = []
        stock = yf.download(i,start=start, end=end, progress=False)
        
        # append the individual stock prices 
        if len(stock) == 0:
            None
        else:
            stock['Name'] = i
            NASDAQ_100_   = pd.concat([NASDAQ_100_, stock],sort=False)

    except Exception:
        None

0 : AAPL,1 : ABNB,2 : ADBE,3 : ADI,4 : ADP,5 : ADSK,6 : AEP,7 : ALGN,8 : AMAT,9 : AMD,10 : AMGN,11 : AMZN,12 : ANSS,13 : ASML,14 : ATVI,15 : AVGO,16 : AZN,17 : BIDU,18 : BIIB,19 : BKNG,20 : CDNS,21 : CEG,22 : CHTR,23 : CMCSA,24 : COST,25 : CPRT,26 : CRWD,27 : CSCO,28 : CSX,29 : CTAS,30 : CTSH,31 : DDOG,32 : DLTR,33 : DOCU,34 : DXCM,35 : EA,36 : EBAY,37 : EXC,38 : FAST,39 : FB,40 : FISV,41 : FTNT,42 : GILD,43 : GOOG,44 : GOOGL,45 : HON,46 : IDXX,47 : ILMN,48 : INTC,49 : INTU,50 : ISRG,51 : JD,52 : KDP,53 : KHC,54 : KLAC,55 : LCID,56 : LRCX,57 : LULU,58 : MAR,59 : MCHP,60 : MDLZ,61 : MELI,62 : MNST,63 : MRNA,64 : MRVL,65 : MSFT,66 : MTCH,67 : MU,68 : NFLX,69 : NTES,70 : NVDA,71 : NXPI,72 : ODFL,73 : OKTA,74 : ORLY,75 : PANW,76 : PAYX,77 : PCAR,78 : PDD,79 : PEP,80 : PYPL,81 : QCOM,82 : REGN,83 : ROST,84 : SBUX,85 : SGEN,86 : SIRI,87 : SNPS,88 : SPLK,89 : SWKS,90 : TEAM,91 : TMUS,92 : TSLA,93 : TXN,94 : VRSK,95 : VRSN,96 : VRTX,97 : WBA,98 : WDAY,99 : XEL,100 : ZM,101 : ZS,
1 Failed download:
- ZS: No data found for this date range, symbol may be delisted

In [42]:
# Dataset of NASDAQ 100 Stocks
NASDAQ_100_

,Open,High,Low,Close,Adj Close,Volume,Name
Date,,,,,,,
2021-01-04,133.520004,133.610001,126.760002,129.410004,128.264984,143301900,AAPL
2021-01-05,128.889999,131.740005,128.429993,131.009995,129.850830,97664900,AAPL
2021-01-06,127.720001,131.050003,126.379997,126.599998,125.479836,155088000,AAPL
2021-01-07,128.360001,131.630005,127.860001,130.919998,129.761642,109578200,AAPL
2021-01-08,132.429993,132.630005,130.229996,132.050003,130.881638,105158200,AAPL
...,...,...,...,...,...,...,...
2022-05-13,88.720001,95.627998,88.253998,94.839996,94.839996,5678800,ZM
2022-05-16,93.430000,95.830002,88.660004,88.919998,88.919998,4501300,ZM
2022-05-17,91.360001,95.099998,86.408997,90.940002,90.940002,4208800,ZM
2022-05-18,88.680000,91.110001,84.040001,84.690002,84.690002,3854200,ZM
2022-05-19,85.739998,93.489998,84.684998,90.940002,90.940002,4746900,ZM

In [43]:
# n of observations for a stock
n_t = NASDAQ_100_[NASDAQ_100_['Name'] == 'AAPL'].shape[0]
# n of stocks
n_a = len(Symbols)

# empty dataframe
NASDAQ_100 = pd.DataFrame(columns = Symbols)


# create dataframe where rows are closing price at a given day, and columns are individual stocks
for i in Symbols:
    NASDAQ_100[i] = pd.Series(NASDAQ_100_[NASDAQ_100_['Name'] == i]['Close'].values)

NASDAQ_100 = NASDAQ_100.dropna(axis=1)
NASDAQ_100.index = NASDAQ_100_[NASDAQ_100_['Name'] == i].index

ValueError: Length mismatch: Expected axis has 348 elements, new values have 0 elements

In [ ]:
NASDAQ_100

In [ ]:
# saves dataset to excel .xlsx
NASDAQ_100.to_excel("NASDAQ_100.xlsx",)  

NASDAQ_100_T = NASDAQ_100.T
NASDAQ_100_T.to_excel("NASDAQ_100_T.xlsx",)