In [1]:
# import modules
import datetime
import numpy as np
import pandas as pd
import yfinance as yf
from random import sample

In [2]:
# read csv with symbols of stocks in the NASDAQ-100
df_symbols = pd.read_excel('https://github.com/LoMarrujo/Series-de-Tiempo/blob/main/Proyecto%20Final/Datos/NASDAQ_100_Symbols.xlsx?raw=true')
Symbols    = df_symbols['Symbol'].tolist()

In [3]:
# stocks listed as of May 11th, 2020.
len(Symbols)

102

In [4]:
start = datetime.datetime(2021, 1, 1)         # format: y, m, d
end   = datetime.datetime(2022, 5, 20)        # until May 20th, 2020.
d_range = pd.date_range(start, end, freq='D') # data range

In [5]:
# empty dataframe
NASDAQ_100_ = pd.DataFrame() # iteramos sobre cada ticker

# Downloads Dataset of NASDAQ 100 Stocks
for i in Symbols:  
    
    # imprime que ticker se está descargando
    print( str(Symbols.index(i)) + str(' : ') + i, sep=',', end=',', flush=True)  
    
    try:
        # download the stock price 
        stock = []
        stock = yf.download(i,start=start, end=end, progress=False)
        
        # append the individual stock prices 
        if len(stock) == 0:
            None
        else:
            stock['Name'] = i
            NASDAQ_100_   = pd.concat([NASDAQ_100_, stock],sort=False)

    except Exception:
        None

0 : AAPL,1 : ABNB,2 : ADBE,3 : ADI,4 : ADP,5 : ADSK,6 : AEP,7 : ALGN,8 : AMAT,9 : AMD,10 : AMGN,11 : AMZN,12 : ANSS,13 : ASML,14 : ATVI,15 : AVGO,16 : AZN,17 : BIDU,18 : BIIB,19 : BKNG,20 : CDNS,21 : CEG,22 : CHTR,23 : CMCSA,24 : COST,25 : CPRT,26 : CRWD,27 : CSCO,28 : CSX,29 : CTAS,30 : CTSH,31 : DDOG,32 : DLTR,33 : DOCU,34 : DXCM,35 : EA,36 : EBAY,37 : EXC,38 : FAST,39 : FB,40 : FISV,41 : FTNT,42 : GILD,43 : GOOG,44 : GOOGL,45 : HON,46 : IDXX,47 : ILMN,48 : INTC,49 : INTU,50 : ISRG,51 : JD,52 : KDP,53 : KHC,54 : KLAC,55 : LCID,56 : LRCX,57 : LULU,58 : MAR,59 : MCHP,60 : MDLZ,61 : MELI,62 : MNST,63 : MRNA,64 : MRVL,65 : MSFT,66 : MTCH,67 : MU,68 : NFLX,69 : NTES,70 : NVDA,71 : NXPI,72 : ODFL,73 : OKTA,74 : ORLY,75 : PANW,76 : PAYX,77 : PCAR,78 : PDD,79 : PEP,80 : PYPL,81 : QCOM,82 : REGN,83 : ROST,84 : SBUX,85 : SGEN,86 : SIRI,87 : SNPS,88 : SPLK,89 : SWKS,90 : TEAM,91 : TMUS,92 : TSLA,93 : TXN,94 : VRSK,95 : VRSN,96 : VRTX,97 : WBA,98 : WDAY,99 : XEL,100 : ZM,101 : ZS,

In [6]:
# Dataset of NASDAQ 100 Stocks
NASDAQ_100_

,Open,High,Low,Close,Adj Close,Volume,Name
Date,,,,,,,
2021-01-04,133.520004,133.610001,126.760002,129.410004,128.264999,143301900,AAPL
2021-01-05,128.889999,131.740005,128.429993,131.009995,129.850845,97664900,AAPL
2021-01-06,127.720001,131.050003,126.379997,126.599998,125.479851,155088000,AAPL
2021-01-07,128.360001,131.630005,127.860001,130.919998,129.761627,109578200,AAPL
2021-01-08,132.429993,132.630005,130.229996,132.050003,130.881638,105158200,AAPL
...,...,...,...,...,...,...,...
2022-05-13,142.229996,155.039993,141.940002,153.229996,153.229996,3010300,ZS
2022-05-16,149.869995,152.919998,139.729996,140.080002,140.080002,2391100,ZS
2022-05-17,145.190002,147.460007,137.020004,141.779999,141.779999,2824000,ZS
2022-05-18,138.550003,140.485001,125.120003,128.089996,128.089996,3788200,ZS
2022-05-19,126.720001,137.000000,125.800003,132.300003,132.300003,3104100,ZS

In [7]:
# n of observations for a stock
n_t = NASDAQ_100_[NASDAQ_100_['Name'] == 'AAPL'].shape[0]
# n of stocks
n_a = len(Symbols)

# empty dataframe
NASDAQ_100 = pd.DataFrame(columns = Symbols)


# create dataframe where rows are closing price at a given day, and columns are individual stocks
for i in Symbols:
    NASDAQ_100[i] = pd.Series(NASDAQ_100_[NASDAQ_100_['Name'] == i]['Close'].values)

NASDAQ_100 = NASDAQ_100.dropna(axis=1)
NASDAQ_100.index = NASDAQ_100_[NASDAQ_100_['Name'] == i].index

In [8]:
NASDAQ_100

,AAPL,ABNB,ADBE,ADI,ADP,ADSK,AEP,ALGN,AMAT,AMD,...,TSLA,TXN,VRSK,VRSN,VRTX,WBA,WDAY,XEL,ZM,ZS
Date,,,,,,,,,,,,,,,,,,,,,
2021-01-04,129.410004,139.149994,485.339996,146.020004,168.960007,296.839996,81.540001,526.460022,86.870003,92.300003,...,729.770020,162.220001,202.880005,213.580002,229.429993,41.400002,228.080002,65.660004,359.980011,196.089996
2021-01-05,131.009995,148.300003,485.690002,148.630005,168.490005,301.700012,81.430000,543.650024,89.599998,92.769997,...,735.109985,163.410004,201.970001,206.500000,228.580002,41.160000,225.360001,65.019997,360.829987,193.479996
2021-01-06,126.599998,142.770004,466.309998,149.300003,167.899994,302.869995,82.080002,540.390015,90.830002,90.330002,...,755.979980,164.220001,200.059998,199.509995,226.649994,43.029999,220.000000,66.459999,344.410004,184.419998
2021-01-07,130.919998,151.270004,477.739990,155.610001,168.850006,315.200012,79.889999,558.359985,94.559998,95.160004,...,816.039978,167.940002,200.970001,200.000000,232.899994,45.259998,226.210007,65.160004,342.500000,193.050003
2021-01-08,132.050003,149.770004,485.100006,156.740005,171.050003,319.850006,79.180000,570.530029,95.559998,94.580002,...,880.020020,171.160004,200.899994,202.440002,237.000000,45.209999,227.649994,65.760002,349.609985,197.369995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-13,147.110001,121.449997,405.450012,158.740005,208.789993,197.070007,99.690002,275.519989,111.860001,95.120003,...,769.590027,169.740005,176.210007,165.110001,246.720001,43.549999,182.289993,74.489998,94.839996,153.229996
2022-05-16,145.539993,114.440002,402.859985,157.440002,208.600006,192.580002,99.389999,274.200012,110.480003,94.239998,...,724.369995,168.500000,171.990005,164.550003,254.169998,44.150002,176.059998,74.830002,88.919998,140.080002
2022-05-17,149.240005,117.500000,409.649994,163.839996,214.960007,195.639999,100.400002,280.589996,116.839996,102.470001,...,761.609985,174.979996,174.570007,168.520004,261.839996,44.939999,173.339996,75.300003,90.940002,141.779999
2022-05-18,140.820007,108.029999,397.880005,159.919998,208.500000,187.979996,99.879997,269.109985,111.339996,96.279999,...,709.809998,170.300003,166.490005,162.520004,252.350006,41.169998,162.949997,74.889999,84.690002,128.089996
2022-05-19,137.350006,114.169998,394.380005,160.940002,206.850006,193.720001,99.040001,273.890015,110.739998,96.669998,...,709.419983,167.619995,168.220001,163.449997,255.449997,40.610001,164.520004,75.010002,90.940002,132.300003

In [9]:
# saves dataset to excel .xlsx
#NASDAQ_100.to_excel("NASDAQ_100.xlsx",)  

#NASDAQ_100_T = NASDAQ_100.T
#NASDAQ_100_T.to_excel("NASDAQ_100_T.xlsx",)